﻿@model MindBucks.Data.ViewModels.DashboardViewModel

@foreach (var strike in Model.Strikes)
{
    <div class="row">
        <div class="col-md-1">
            @strike.Name
            @Html.GravatarImage(@strike.Email)
        </div>
        <div class="col-md-8">
            <h1>
                @for (var i = 0; i < strike.Strikes; i++) 
                {
                    <i class="fa fa-thumbs-o-down"></i>
                }
            </h1>
            <h3>@((strike.Cash * 0.1m).ToString("C"))</h3>
        </div>
        <div class="col-md-2">
            <h1>@(((strike.Cash + @strike.Strikes) * 0.1m).ToString("C"))</h1>
        </div>
        <div class="col-md-1">
            @if (User.Identity.IsAuthenticated) {
                <button class="btn btn-default action" data-action="@Url.Action("Strike", "Home", new { strike.Email })"><i class="fa fa-thumbs-o-down"></i> Strike</button>
            }
        </div>
    </div>
}