﻿@using System.Drawing
@using Microsoft.AspNet.Identity
@model dynamic
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="jumbotron">
        <h1>m<i class="fa fa-bullhorn"></i> - mindbucks</h1>
    </div>
</div>


<div id="dashboard" data-url="@Url.Action("Dashboard")">
    @Html.Action("Dashboard");
</div>

@section scripts
{
    <script>

        $(function () {
            initDashboard();
        });

</script> 
}
